# Data Exploration Phase of the Project

In [4]:
# Add the Pandas dependency.
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import numpy as np

In [5]:
# Files to load 
colorado_offense_to_load = "Resources/NIBRS_Offense_16_19.csv"
colorado_incidents_to_load = "Resources/nibrs_incidents_17_19.csv"

In [6]:
# Read the ColoradoStateCrime file and store it in a Pandas DataFrame.
coloradoo_offense_df = pd.read_csv(colorado_offense_to_load)
coloradoo_offense_df

,DATA_YEAR,OFFENSE_ID,INCIDENT_ID,OFFENSE_TYPE_ID,ATTEMPT_COMPLETE_FLAG,LOCATION_ID,METHOD_ENTRY_CODE
0,2019,139334487,114123065,Burglary/Breaking & Entering,C,Residence/Home,F
1,2019,139334534,114114955,Burglary/Breaking & Entering,C,Residence/Home,F
2,2019,139334535,114123107,Burglary/Breaking & Entering,C,Residence/Home,N
3,2019,139334609,114123161,Burglary/Breaking & Entering,C,Residence/Home,N
4,2019,139334842,114123327,Burglary/Breaking & Entering,C,Residence/Home,F
...,...,...,...,...,...,...,...
58611,2016,110404836,88620658,Burglary/Breaking & Entering,C,Residence/Home,N
58612,2016,111154339,89270149,Burglary/Breaking & Entering,C,Residence/Home,F
58613,2016,111155913,89271597,Burglary/Breaking & Entering,C,Residence/Home,N
58614,2016,111156846,89272462,Burglary/Breaking & Entering,C,Residence/Home,N
58615,2016,111154609,89270399,Burglary/Breaking & Entering,C,Residence/Home,F

In [7]:
# Read the DenverCrime file and store it in a Pandas DataFrame.
colorado_incidents_df = pd.read_csv(colorado_incidents_to_load)
colorado_incidents_df

,DATA_YEAR,AGENCY_ID,INCIDENT_ID,NIBRS_MONTH_ID,CARGO_THEFT_FLAG,SUBMISSION_DATE,INCIDENT_DATE,INCIDENT_Month,INCIDENT_DAY,REPORT_DATE_FLAG,INCIDENT_HOUR,DATA_HOME,ORIG_FORMAT,DID
0,2019,1909,122115909,8211322,NaN,43906,10/22/2019,October,22,R,0.0,C,F,68962294
1,2019,1909,122115971,8226646,NaN,43906,12/22/2019,December,22,R,0.0,C,F,68957165
2,2019,1909,121199072,8211322,NaN,43887,10/1/2019,October,1,NaN,13.0,C,F,66913170
3,2019,1909,121199074,8211322,NaN,43887,10/2/2019,October,2,NaN,10.0,C,F,66913179
4,2019,1909,112246115,8142364,N,43635,1/23/2019,January,23,NaN,17.0,C,F,48507632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835727,2017,1919,102046548,7693835,N,43455,6/30/2017,June,30,NaN,0.0,C,F,29444635
835728,2017,1919,101360180,7856713,NaN,43395,12/1/2017,December,1,R,0.0,C,F,28005803
835729,2017,1919,101360186,7795942,N,43395,11/16/2017,November,16,NaN,12.0,C,F,28013894
835730,2016,1841,88366270,7309058,NaN,43329,9/30/2016,September,30,NaN,11.0,C,F,1829911
835731,2016,1841,88366280,7331842,N,43329,10/31/2016,October,31,NaN,7.0,C,F,1829963

### Summary of Descriptive Statistics - Colorado Offense

In [9]:
#Create a new Series to hold Descriptip Descriptive Statistics - ColoradoStateCrime
coloradoo_offense_df.describe()

          DATA_YEAR    OFFENSE_ID   INCIDENT_ID
count  58616.000000  5.861600e+04  5.861600e+04
mean    2017.381824  1.213371e+08  9.859650e+07
std        1.101234  1.291434e+07  1.111335e+07
min     2016.000000  1.041232e+08  8.282007e+07
25%     2016.000000  1.111063e+08  8.922897e+07
50%     2017.000000  1.186344e+08  9.582136e+07
75%     2018.000000  1.324456e+08  1.079612e+08
max     2019.000000  1.486611e+08  1.228647e+08

### Summary of Descriptive Statistics - Colorado Incidents

In [10]:
#Create a new Series to hold Descriptip Descriptive Statistics - ColoradoStateCrime
colorado_incidents_df.describe()

,DATA_YEAR,AGENCY_ID,INCIDENT_ID,NIBRS_MONTH_ID,SUBMISSION_DATE,INCIDENT_DAY,INCIDENT_HOUR,DID
count,835732.000000,835732.000000,8.357320e+05,8.357320e+05,835732.000000,835732.000000,827374.000000,8.357320e+05
mean,2017.973559,1985.684992,1.035908e+08,8.029482e+06,43493.274286,15.527051,12.645001,3.221518e+07
std,0.810026,755.768306,9.757378e+06,2.691711e+05,191.955920,8.827916,6.632439,1.897005e+07
min,2016.000000,1826.000000,8.836627e+07,7.309058e+06,43329.000000,1.000000,0.000000,1.829911e+06
25%,2017.000000,1849.000000,9.521591e+07,7.779984e+06,43332.000000,8.000000,8.000000,1.623488e+07
50%,2018.000000,1949.000000,1.001477e+08,8.087410e+06,43354.000000,15.000000,13.000000,2.551581e+07
75%,2019.000000,2052.000000,1.127054e+08,8.203601e+06,43662.000000,23.000000,18.000000,4.929062e+07
max,2019.000000,25314.000000,1.228649e+08,1.178121e+07,43921.000000,31.000000,23.000000,7.042264e+07