# Dealing with Categorical Data in ML

### Dataset Information

The file NIBRS_incident.csv, contains State of Colorado crime incidents information from 2016 till 2019, there are a total of 54,930 records. The file NIBRS_Offense.csv, contains offense record State of Colorado associated to each crime incidentf rom 2016 till 2019, there are a total of 54,930 records. The features listed below do not represent the complete list from each file and listed features and target are going to be pulled into one dataframe to run predictive model.

NIBRS_incident Dataset: 
- DATA_YEAR INT: The year the incident/offense took place.
- AGENCY_ID INT: Agency responding to the incident.
- INCIDENT_ID INT: The automated incident number.
- NIBRS_MONTH_ID INT: Some ID for the month.
- CARGO_THEFT_FLAG VARCHAR:	Any item taken during the incident (Y/N).
- SUBMISSION_DATE DATE: Submission date.
- INCIDENT_DATE INT: The date the incident/offense took place.
- INCIDENT_Month VARCHAR: Month the incident/offense took place.
- INCIDENT_DAY INT: Day the incident/offense took place.
- REPORT_DATE_FLAG VARCHAR: Report flagged.
- INCIDENT_HOUR INT: Hour the incident/offense took place.
- DATA_HOME VARCHAR: State the incident was reported from (C = Colorado).
- ORIG_FORMAT VARCHAR: Original Format.
- DID INT:

NIBRS_Offense Dataset:
- DATA_YEAR INT:Year date when offense was entered.
- OFFENSE_ID INT: The automated offense number.
- INCIDENT_ID INT: Foreign Key
- OFFENSE_TYPE_ID VARCHAR: Offense commiteed by the perpetrator (Burglary/Breaking & Entering,Robbery)
- ATTEMPT_COMPLETE_FLAG VARCHAR: Field hat holds F = Force and N = Nonforce.
- LOCATION_ID VARCHAR: Where the perpetrator committed the offense (Residence/Home,Commercial/Office Building, Government/Public Building)
- METHOD_ENTRY_CODE VARCHAR: How did the perpetrator entered the premise (F, N).

In [1]:
# initial imports
import pandas as pd
from path import Path

In [2]:
# Files to load 
colorado_offense_to_load_da = "Resources/NIBRS_Offense_16_19.csv"
colorado_incidents_to_load_da = "Resources/Nibrs_incidents_16_19.csv"

In [3]:
# Read the DenverCrime file and store it in a Pandas DataFrame.
colorado_incidents_da = pd.read_csv(colorado_incidents_to_load_da)
colorado_incidents_da

,﻿DATA_YEAR,AGENCY_ID,INCIDENT_ID,NIBRS_MONTH_ID,CARGO_THEFT_FLAG,SUBMISSION_DATE,INCIDENT_DATE,INCIDENT_Month,INCIDENT_DAY,REPORT_DATE_FLAG,INCIDENT_HOUR,DATA_HOME,ORIG_FORMAT,DID
0,2019,1843,119315957,8211278,N,43843.0,10/16/2019,October,16,NaN,18.0,C,F,63267601.0
1,2019,1934,120342638,8188360,N,43872.0,7/18/2019,July,18,NaN,17.0,C,F,65213951.0
2,2019,1934,119338351,8211346,N,43843.0,10/14/2019,October,14,NaN,18.0,C,F,63306710.0
3,2019,1934,120347122,8196022,N,43872.0,8/9/2019,August,9,NaN,17.0,C,F,65206501.0
4,2019,1895,119342240,8226637,N,43843.0,12/7/2019,December,7,NaN,17.0,C,F,63299825.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54925,2016,1988,84455340,7172501,N,NaN,3/30/2016,March,30,NaN,18.0,C,NaN,NaN
54926,2016,1988,84463618,7286421,N,NaN,8/4/2016,August,4,NaN,4.0,C,NaN,NaN
54927,2016,1988,84460568,7240853,N,NaN,6/21/2016,June,21,NaN,11.0,C,NaN,NaN
54928,2016,1988,84460577,7240853,N,NaN,6/22/2016,June,22,NaN,15.0,C,NaN,NaN
54929,2016,1988,84453387,7172501,N,NaN,3/4/2016,March,4,NaN,7.0,C,NaN,NaN

In [4]:
# Read the NIBRS_Offense_16_19.csv file and store it in a Pandas DataFrame.
colorado_offense_da = pd.read_csv(colorado_offense_to_load_da)
colorado_offense_da

,﻿DATA_YEAR,OFFENSE_ID,INCIDENT_ID,OFFENSE_TYPE_ID,ATTEMPT_COMPLETE_FLAG,LOCATION_ID,NUM_PREMISES_ENTERED,METHOD_ENTRY_CODE
0,2019,139334487,114123065,Burglary,C,Residence,NaN,F
1,2019,139334534,114114955,Burglary,C,Residence,NaN,F
2,2019,139334535,114123107,Burglary,C,Residence,NaN,N
3,2019,139334609,114123161,Burglary,C,Residence,NaN,N
4,2019,139334842,114123327,Burglary,C,Residence,NaN,F
...,...,...,...,...,...,...,...,...
54925,2016,110071511,88333311,Burglary,C,Residence,NaN,N
54926,2016,110071516,88333323,Burglary,C,Residence,NaN,F
54927,2016,111154339,89270149,Burglary,C,Residence,NaN,F
54928,2016,111156846,89272462,Burglary,C,Residence,NaN,N
54929,2016,111154609,89270399,Burglary,C,Residence,NaN,F

In [5]:
colorado_incidents_da_df=pd.DataFrame(data=colorado_incidents_da)
colorado_incidents_da_df

,﻿DATA_YEAR,AGENCY_ID,INCIDENT_ID,NIBRS_MONTH_ID,CARGO_THEFT_FLAG,SUBMISSION_DATE,INCIDENT_DATE,INCIDENT_Month,INCIDENT_DAY,REPORT_DATE_FLAG,INCIDENT_HOUR,DATA_HOME,ORIG_FORMAT,DID
0,2019,1843,119315957,8211278,N,43843.0,10/16/2019,October,16,NaN,18.0,C,F,63267601.0
1,2019,1934,120342638,8188360,N,43872.0,7/18/2019,July,18,NaN,17.0,C,F,65213951.0
2,2019,1934,119338351,8211346,N,43843.0,10/14/2019,October,14,NaN,18.0,C,F,63306710.0
3,2019,1934,120347122,8196022,N,43872.0,8/9/2019,August,9,NaN,17.0,C,F,65206501.0
4,2019,1895,119342240,8226637,N,43843.0,12/7/2019,December,7,NaN,17.0,C,F,63299825.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54925,2016,1988,84455340,7172501,N,NaN,3/30/2016,March,30,NaN,18.0,C,NaN,NaN
54926,2016,1988,84463618,7286421,N,NaN,8/4/2016,August,4,NaN,4.0,C,NaN,NaN
54927,2016,1988,84460568,7240853,N,NaN,6/21/2016,June,21,NaN,11.0,C,NaN,NaN
54928,2016,1988,84460577,7240853,N,NaN,6/22/2016,June,22,NaN,15.0,C,NaN,NaN
54929,2016,1988,84453387,7172501,N,NaN,3/4/2016,March,4,NaN,7.0,C,NaN,NaN

In [6]:
colorado_offense_da_df=pd.DataFrame(data=colorado_offense_da)
colorado_offense_da_df

,﻿DATA_YEAR,OFFENSE_ID,INCIDENT_ID,OFFENSE_TYPE_ID,ATTEMPT_COMPLETE_FLAG,LOCATION_ID,NUM_PREMISES_ENTERED,METHOD_ENTRY_CODE
0,2019,139334487,114123065,Burglary,C,Residence,NaN,F
1,2019,139334534,114114955,Burglary,C,Residence,NaN,F
2,2019,139334535,114123107,Burglary,C,Residence,NaN,N
3,2019,139334609,114123161,Burglary,C,Residence,NaN,N
4,2019,139334842,114123327,Burglary,C,Residence,NaN,F
...,...,...,...,...,...,...,...,...
54925,2016,110071511,88333311,Burglary,C,Residence,NaN,N
54926,2016,110071516,88333323,Burglary,C,Residence,NaN,F
54927,2016,111154339,89270149,Burglary,C,Residence,NaN,F
54928,2016,111156846,89272462,Burglary,C,Residence,NaN,N
54929,2016,111154609,89270399,Burglary,C,Residence,NaN,F

In [25]:
# Merge two Pandas DataFrames on multiple columns in Python

#pd.concat([colorado_incidents_da_df,colorado_offense_da_df], ignore_index=True)
merged_df = pd.merge(colorado_incidents_da_df, colorado_offense_da_df, how="inner",
    on=['INCIDENT_ID', 'INCIDENT_ID'])
merged_df

,﻿DATA_YEAR_x,AGENCY_ID,INCIDENT_ID,NIBRS_MONTH_ID,CARGO_THEFT_FLAG,SUBMISSION_DATE,INCIDENT_DATE,INCIDENT_Month,INCIDENT_DAY,REPORT_DATE_FLAG,...,DATA_HOME,ORIG_FORMAT,DID,﻿DATA_YEAR_y,OFFENSE_ID,OFFENSE_TYPE_ID,ATTEMPT_COMPLETE_FLAG,LOCATION_ID,NUM_PREMISES_ENTERED,METHOD_ENTRY_CODE
0,2019,1843,119315957,8211278,N,43843.0,10/16/2019,October,16,NaN,...,C,F,63267601.0,2019,144602430,Burglary,C,Residence,NaN,N
1,2019,1934,120342638,8188360,N,43872.0,7/18/2019,July,18,NaN,...,C,F,65213951.0,2019,145791325,Burglary,C,Residence,NaN,F
2,2019,1934,119338351,8211346,N,43843.0,10/14/2019,October,14,NaN,...,C,F,63306710.0,2019,144631770,Burglary,C,Residence,NaN,F
3,2019,1934,120347122,8196022,N,43872.0,8/9/2019,August,9,NaN,...,C,F,65206501.0,2019,145787254,Burglary,C,Residence,NaN,N
4,2019,1895,119342240,8226637,N,43843.0,12/7/2019,December,7,NaN,...,C,F,63299825.0,2019,144624994,Burglary,C,Residence,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54925,2016,1988,84455340,7172501,N,NaN,3/30/2016,March,30,NaN,...,C,NaN,NaN,2016,104345901,Burglary,C,Residence,0.0,N
54926,2016,1988,84463618,7286421,N,NaN,8/4/2016,August,4,NaN,...,C,NaN,NaN,2016,104347235,Burglary,C,Residence,0.0,N
54927,2016,1988,84460568,7240853,N,NaN,6/21/2016,June,21,NaN,...,C,NaN,NaN,2016,104346738,Burglary,C,Residence,0.0,F
54928,2016,1988,84460577,7240853,N,NaN,6/22/2016,June,22,NaN,...,C,NaN,NaN,2016,104346748,Burglary,C,Residence,0.0,N
54929,2016,1988,84453387,7172501,N,NaN,3/4/2016,March,4,NaN,...,C,NaN,NaN,2016,104345640,Burglary,C,Residence,0.0,N

In [32]:
# Select multiple columns to create new dataframe
incident_offense_df = merged_df[['INCIDENT_ID','OFFENSE_ID','﻿DATA_YEAR_x','INCIDENT_Month','INCIDENT_DAY','INCIDENT_HOUR','OFFENSE_TYPE_ID','LOCATION_ID']]
incident_offense_df

,INCIDENT_ID,OFFENSE_ID,﻿DATA_YEAR_x,INCIDENT_Month,INCIDENT_DAY,INCIDENT_HOUR,OFFENSE_TYPE_ID,LOCATION_ID
0,119315957,144602430,2019,October,16,18.0,Burglary,Residence
1,120342638,145791325,2019,July,18,17.0,Burglary,Residence
2,119338351,144631770,2019,October,14,18.0,Burglary,Residence
3,120347122,145787254,2019,August,9,17.0,Burglary,Residence
4,119342240,144624994,2019,December,7,17.0,Burglary,Residence
...,...,...,...,...,...,...,...,...
54925,84455340,104345901,2016,March,30,18.0,Burglary,Residence
54926,84463618,104347235,2016,August,4,4.0,Burglary,Residence
54927,84460568,104346738,2016,June,21,11.0,Burglary,Residence
54928,84460577,104346748,2016,June,22,15.0,Burglary,Residence
54929,84453387,104345640,2016,March,4,7.0,Burglary,Residence

In [33]:
# Custom Encode the months
months_num = {
   "January": 1,
   "February": 2,
   "March": 3,
   "April": 4,
   "May": 5,
   "June": 6,
   "July": 7,
   "August": 8,
   "September": 9,
   "October": 10,
   "November": 11,
   "December": 12,
}

In [34]:
# A lambda function is applied to the month column to perform the actual conversion
incident_offense_df["MONTH_NUM"] = incident_offense_df["INCIDENT_Month"].apply(lambda x: months_num[x])
incident_offense_df

<ipython-input-34-8b0979cbcf46>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incident_offense_df["MONTH_NUM"] = incident_offense_df["INCIDENT_Month"].apply(lambda x: months_num[x])

,INCIDENT_ID,OFFENSE_ID,﻿DATA_YEAR_x,INCIDENT_Month,INCIDENT_DAY,INCIDENT_HOUR,OFFENSE_TYPE_ID,LOCATION_ID,MONTH_NUM
0,119315957,144602430,2019,October,16,18.0,Burglary,Residence,10
1,120342638,145791325,2019,July,18,17.0,Burglary,Residence,7
2,119338351,144631770,2019,October,14,18.0,Burglary,Residence,10
3,120347122,145787254,2019,August,9,17.0,Burglary,Residence,8
4,119342240,144624994,2019,December,7,17.0,Burglary,Residence,12
...,...,...,...,...,...,...,...,...,...
54925,84455340,104345901,2016,March,30,18.0,Burglary,Residence,3
54926,84463618,104347235,2016,August,4,4.0,Burglary,Residence,8
54927,84460568,104346738,2016,June,21,11.0,Burglary,Residence,6
54928,84460577,104346748,2016,June,22,15.0,Burglary,Residence,6
54929,84453387,104345640,2016,March,4,7.0,Burglary,Residence,3

In [35]:
# Drop the "INCIDENT_Month" column after converting the months to number
incident_offense_df = incident_offense_df.drop(["INCIDENT_Month"], axis=1)
incident_offense_df.head()

,INCIDENT_ID,OFFENSE_ID,﻿DATA_YEAR_x,INCIDENT_DAY,INCIDENT_HOUR,OFFENSE_TYPE_ID,LOCATION_ID,MONTH_NUM
0,119315957,144602430,2019,16,18.0,Burglary,Residence,10
1,120342638,145791325,2019,18,17.0,Burglary,Residence,7
2,119338351,144631770,2019,14,18.0,Burglary,Residence,10
3,120347122,145787254,2019,9,17.0,Burglary,Residence,8
4,119342240,144624994,2019,7,17.0,Burglary,Residence,12

In [36]:
# Binary encoding using Pandas (multiple columns)
incident_offense_df_encoded = pd.get_dummies(incident_offense_df, columns=["OFFENSE_TYPE_ID", "LOCATION_ID"])
incident_offense_df_encoded

,INCIDENT_ID,OFFENSE_ID,﻿DATA_YEAR_x,INCIDENT_DAY,INCIDENT_HOUR,MONTH_NUM,OFFENSE_TYPE_ID_Burglary,OFFENSE_TYPE_ID_Robbery,LOCATION_ID_Commercial,LOCATION_ID_Government,LOCATION_ID_Residence
0,119315957,144602430,2019,16,18.0,10,1,0,0,0,1
1,120342638,145791325,2019,18,17.0,7,1,0,0,0,1
2,119338351,144631770,2019,14,18.0,10,1,0,0,0,1
3,120347122,145787254,2019,9,17.0,8,1,0,0,0,1
4,119342240,144624994,2019,7,17.0,12,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
54925,84455340,104345901,2016,30,18.0,3,1,0,0,0,1
54926,84463618,104347235,2016,4,4.0,8,1,0,0,0,1
54927,84460568,104346738,2016,21,11.0,6,1,0,0,0,1
54928,84460577,104346748,2016,22,15.0,6,1,0,0,0,1
54929,84453387,104345640,2016,4,7.0,3,1,0,0,0,1

In [38]:
#incident_offense_df_encoded.to_csv('file_encoded.csv',index=False)

# Predicting Crime

Implementing Logistic Regression model with incident_offense_df to predict when a crime will take place by targeting "MONTH_NUM". It will follow the following pattern: instantiate a model, train it, create predictions, then validate the model.

## Separate the Features (X) from the Target (y)

In [48]:
y = incident_offense_df_encoded["MONTH_NUM"]
X = incident_offense_df_encoded.drop(columns="MONTH_NUM")

## Split our data into training and testing

In [49]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(41197, 10)

## Create a Logistic Regression Model

In [50]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

## Fit (train) or model using the training data

In [51]:
classifier.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

## Make predictions

## Validate the Model