## Dealing with Categorical Data in ML

### Dataset Information

The file NIBRS_incident.csv, contains State of Colorado crime incidents information from 2016 till 2019, there are a total of 54,930 records. The file NIBRS_Offense.csv, contains offense record State of Colorado associated to each crime incidentf rom 2016 till 2019, there are a total of 54,930 records. The features listed below do not represent the complete list from each file and listed features and target are going to be pulled into one dataframe to run predictive model.

NIBRS_incident Dataset: 
- DATA_YEAR INT: The year the incident/offense took place.
- INCIDENT_ID INT: The automated incident number.
- INCIDENT_DATE INT: The date the incident/offense took place.
- INCIDENT_Month VARCHAR: Month the incident/offense took place.
- INCIDENT_DAY INT: Day the incident/offense took place.
- INCIDENT_HOUR INT: Hour the incident/offense took place.

NIBRS_Offense Dataset:
- OFFENSE_ID INT: The automated offense number.
- INCIDENT_ID: Foreign Key
- OFFENSE_TYPE_ID VARCHAR: Offense commiteed by the perpetrator (Burglary/Breaking & Entering,Robbery)
- LOCATION_ID VARCHAR: Where the perpetrator committed the offense (Residence/Home,
- Commercial/Office Building, Government/Public Building)

In [1]:
# initial imports
import pandas as pd
from path import Path

In [2]:
# Files to load 
colorado_offense_to_load_da = "Resources/NIBRS_Offense_16_19.csv"
colorado_incidents_to_load_da = "Resources/Nibrs_incidents_16_19.csv"

In [3]:
# Read the DenverCrime file and store it in a Pandas DataFrame.
colorado_incidents_da = pd.read_csv(colorado_incidents_to_load_da)
colorado_incidents_da

,﻿DATA_YEAR,AGENCY_ID,INCIDENT_ID,NIBRS_MONTH_ID,CARGO_THEFT_FLAG,SUBMISSION_DATE,INCIDENT_DATE,INCIDENT_Month,INCIDENT_DAY,REPORT_DATE_FLAG,INCIDENT_HOUR,DATA_HOME,ORIG_FORMAT,DID
0,2019,1843,119315957,8211278,N,43843.0,10/16/2019,October,16,NaN,18.0,C,F,63267601.0
1,2019,1934,120342638,8188360,N,43872.0,7/18/2019,July,18,NaN,17.0,C,F,65213951.0
2,2019,1934,119338351,8211346,N,43843.0,10/14/2019,October,14,NaN,18.0,C,F,63306710.0
3,2019,1934,120347122,8196022,N,43872.0,8/9/2019,August,9,NaN,17.0,C,F,65206501.0
4,2019,1895,119342240,8226637,N,43843.0,12/7/2019,December,7,NaN,17.0,C,F,63299825.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54925,2016,1988,84455340,7172501,N,NaN,3/30/2016,March,30,NaN,18.0,C,NaN,NaN
54926,2016,1988,84463618,7286421,N,NaN,8/4/2016,August,4,NaN,4.0,C,NaN,NaN
54927,2016,1988,84460568,7240853,N,NaN,6/21/2016,June,21,NaN,11.0,C,NaN,NaN
54928,2016,1988,84460577,7240853,N,NaN,6/22/2016,June,22,NaN,15.0,C,NaN,NaN
54929,2016,1988,84453387,7172501,N,NaN,3/4/2016,March,4,NaN,7.0,C,NaN,NaN

In [4]:
# Read the NIBRS_Offense_16_19.csv file and store it in a Pandas DataFrame.
colorado_offense_da = pd.read_csv(colorado_offense_to_load_da)
colorado_offense_da

,﻿DATA_YEAR,OFFENSE_ID,INCIDENT_ID,OFFENSE_TYPE_ID,ATTEMPT_COMPLETE_FLAG,LOCATION_ID,NUM_PREMISES_ENTERED,METHOD_ENTRY_CODE
0,2019,139334487,114123065,Burglary/Breaking & Entering,C,Residence/Home,NaN,F
1,2019,139334534,114114955,Burglary/Breaking & Entering,C,Residence/Home,NaN,F
2,2019,139334535,114123107,Burglary/Breaking & Entering,C,Residence/Home,NaN,N
3,2019,139334609,114123161,Burglary/Breaking & Entering,C,Residence/Home,NaN,N
4,2019,139334842,114123327,Burglary/Breaking & Entering,C,Residence/Home,NaN,F
...,...,...,...,...,...,...,...,...
54925,2016,110071511,88333311,Burglary/Breaking & Entering,C,Residence/Home,NaN,N
54926,2016,110071516,88333323,Burglary/Breaking & Entering,C,Residence/Home,NaN,F
54927,2016,111154339,89270149,Burglary/Breaking & Entering,C,Residence/Home,NaN,F
54928,2016,111156846,89272462,Burglary/Breaking & Entering,C,Residence/Home,NaN,N
54929,2016,111154609,89270399,Burglary/Breaking & Entering,C,Residence/Home,NaN,F

In [5]:
colorado_incidents_da_df=pd.DataFrame(data=colorado_incidents_da)
colorado_incidents_da_df

,﻿DATA_YEAR,AGENCY_ID,INCIDENT_ID,NIBRS_MONTH_ID,CARGO_THEFT_FLAG,SUBMISSION_DATE,INCIDENT_DATE,INCIDENT_Month,INCIDENT_DAY,REPORT_DATE_FLAG,INCIDENT_HOUR,DATA_HOME,ORIG_FORMAT,DID
0,2019,1843,119315957,8211278,N,43843.0,10/16/2019,October,16,NaN,18.0,C,F,63267601.0
1,2019,1934,120342638,8188360,N,43872.0,7/18/2019,July,18,NaN,17.0,C,F,65213951.0
2,2019,1934,119338351,8211346,N,43843.0,10/14/2019,October,14,NaN,18.0,C,F,63306710.0
3,2019,1934,120347122,8196022,N,43872.0,8/9/2019,August,9,NaN,17.0,C,F,65206501.0
4,2019,1895,119342240,8226637,N,43843.0,12/7/2019,December,7,NaN,17.0,C,F,63299825.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54925,2016,1988,84455340,7172501,N,NaN,3/30/2016,March,30,NaN,18.0,C,NaN,NaN
54926,2016,1988,84463618,7286421,N,NaN,8/4/2016,August,4,NaN,4.0,C,NaN,NaN
54927,2016,1988,84460568,7240853,N,NaN,6/21/2016,June,21,NaN,11.0,C,NaN,NaN
54928,2016,1988,84460577,7240853,N,NaN,6/22/2016,June,22,NaN,15.0,C,NaN,NaN
54929,2016,1988,84453387,7172501,N,NaN,3/4/2016,March,4,NaN,7.0,C,NaN,NaN

In [6]:
colorado_offense_da_df=pd.DataFrame(data=colorado_offense_da)
colorado_offense_da_df

,﻿DATA_YEAR,OFFENSE_ID,INCIDENT_ID,OFFENSE_TYPE_ID,ATTEMPT_COMPLETE_FLAG,LOCATION_ID,NUM_PREMISES_ENTERED,METHOD_ENTRY_CODE
0,2019,139334487,114123065,Burglary/Breaking & Entering,C,Residence/Home,NaN,F
1,2019,139334534,114114955,Burglary/Breaking & Entering,C,Residence/Home,NaN,F
2,2019,139334535,114123107,Burglary/Breaking & Entering,C,Residence/Home,NaN,N
3,2019,139334609,114123161,Burglary/Breaking & Entering,C,Residence/Home,NaN,N
4,2019,139334842,114123327,Burglary/Breaking & Entering,C,Residence/Home,NaN,F
...,...,...,...,...,...,...,...,...
54925,2016,110071511,88333311,Burglary/Breaking & Entering,C,Residence/Home,NaN,N
54926,2016,110071516,88333323,Burglary/Breaking & Entering,C,Residence/Home,NaN,F
54927,2016,111154339,89270149,Burglary/Breaking & Entering,C,Residence/Home,NaN,F
54928,2016,111156846,89272462,Burglary/Breaking & Entering,C,Residence/Home,NaN,N
54929,2016,111154609,89270399,Burglary/Breaking & Entering,C,Residence/Home,NaN,F

In [14]:
# Merge two Pandas DataFrames on multiple columns in Python

#pd.concat([colorado_incidents_da_df,colorado_offense_da_df], ignore_index=True)
merged_df = pd.merge(colorado_offense_da_df, colorado_offense_da_df, how="inner",
    on=['INCIDENT_ID', 'INCIDENT_ID'])
merged_df

,﻿DATA_YEAR_x,OFFENSE_ID_x,INCIDENT_ID,OFFENSE_TYPE_ID_x,ATTEMPT_COMPLETE_FLAG_x,LOCATION_ID_x,NUM_PREMISES_ENTERED_x,METHOD_ENTRY_CODE_x,﻿DATA_YEAR_y,OFFENSE_ID_y,OFFENSE_TYPE_ID_y,ATTEMPT_COMPLETE_FLAG_y,LOCATION_ID_y,NUM_PREMISES_ENTERED_y,METHOD_ENTRY_CODE_y
0,2019,139334487,114123065,Burglary/Breaking & Entering,C,Residence/Home,NaN,F,2019,139334487,Burglary/Breaking & Entering,C,Residence/Home,NaN,F
1,2019,139334534,114114955,Burglary/Breaking & Entering,C,Residence/Home,NaN,F,2019,139334534,Burglary/Breaking & Entering,C,Residence/Home,NaN,F
2,2019,139334535,114123107,Burglary/Breaking & Entering,C,Residence/Home,NaN,N,2019,139334535,Burglary/Breaking & Entering,C,Residence/Home,NaN,N
3,2019,139334609,114123161,Burglary/Breaking & Entering,C,Residence/Home,NaN,N,2019,139334609,Burglary/Breaking & Entering,C,Residence/Home,NaN,N
4,2019,139334842,114123327,Burglary/Breaking & Entering,C,Residence/Home,NaN,F,2019,139334842,Burglary/Breaking & Entering,C,Residence/Home,NaN,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54925,2016,110071511,88333311,Burglary/Breaking & Entering,C,Residence/Home,NaN,N,2016,110071511,Burglary/Breaking & Entering,C,Residence/Home,NaN,N
54926,2016,110071516,88333323,Burglary/Breaking & Entering,C,Residence/Home,NaN,F,2016,110071516,Burglary/Breaking & Entering,C,Residence/Home,NaN,F
54927,2016,111154339,89270149,Burglary/Breaking & Entering,C,Residence/Home,NaN,F,2016,111154339,Burglary/Breaking & Entering,C,Residence/Home,NaN,F
54928,2016,111156846,89272462,Burglary/Breaking & Entering,C,Residence/Home,NaN,N,2016,111156846,Burglary/Breaking & Entering,C,Residence/Home,NaN,N
54929,2016,111154609,89270399,Burglary/Breaking & Entering,C,Residence/Home,NaN,F,2016,111154609,Burglary/Breaking & Entering,C,Residence/Home,NaN,F